{% extends '_base.html' %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'meetups/style/creator-panel.css' %}">
{% endblock css %}
    


{% block content %}
<div>
    <div class="container px-4 text-center">
        <h2 class="heder">Welcome in Creator panel <br><span>{{request.user.username}}</span> </h2>
    </div>



    <div  id="meetups-list"  class="row  d-flex justify-content-around">
        {% include 'meetups/includes/meetup-list.html' %}
    </div>
</div>
        
    
{% endblock content %}
    