{% load static %}
<form hx-post="{{ request.path }}" class="modal-content">
    {% csrf_token %}
    <div class="modal-header">
      <h5 class="modal-title">Add new location</h5>
    </div>
    <div class="modal-body">
        {% for field in form %}
        <div class="forms-control {% if field.errors %} errors {% endif %}">
            {{field.label_tag}}
            {{field}}
            {{field.errors}} 
        </div>
        {% endfor %}
    </div>
    <div class="modal-footer">
      <button type="button" data-bs-dismiss="modal">Cancel</button>
      <button  id="save-btn" type="submit" >Save</button>
    </div>
  </form>




 

