{% extends '_base.html' %}

{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'meetups/style/form.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css" />
{% endblock css %}
    


{% block content %}



    <!-- Modal -->
    <div id="modal" class="modal fade">
        <div id="dialog" class="modal-dialog" hx-target="this">

        </div>
    </div>

  
<form class="form"  method="post"  enctype="multipart/form-data">
    {% csrf_token %}
    
    
    
    {% for field in form %}
        <div class="forms-control {% if field.errors %} errors {% endif %}">
            {{field.label_tag}}
            {{field}}
            {{field.errors}} 
        </div>
    {% endfor %}
    <button hx-get="{% url 'create-location' %}" hx-target="#dialog" id="add_location" type="button" class="button-form" data-bs-toggle="modal" data-bs-target="#MyModal">Add new location</button>
    <button id="meetup_button" class="button-form" type="submit">Create Meetup</button>
</form>


    

{% endblock content %}



    

    
