{% extends '_base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'meetups/style/home.css' %}">
{% endblock css %}
    
{% block title %}
 Home Page
{% endblock title %}
    
{% block content %}
<section>
    <h2>We have {{ count_meetups }} meetups</h2>
</section>

<section >
    <h2 class="header">Latest meetups</h2>
    <ol class="container  d-flex justify-content-around  ">
        {% for meetup in latest_meetups %}
        <li class="meetup-item me-2">
            <article>
                <div class="meetup-summary">
                    <div class="meetup-image">
                        <img src="{{meetup.image.url}}" alt="{{meetup.title}}">
                    </div>
                    <div class="meetup-details">
                        <h3>{{meetup.title}}</h3>
                        <address>{{meetup.location.country}}</address>
                    </div>
                </div>
                <div class="meetup-actions">
                    <a href="{{ meetup.get_absolute_url }}" class="btn">More Details</a>
                </div>
            </article>
        </li>
        {% endfor %}
    </ol>
</section>

<section>
    <h2 class="header">Ends Soon</h2>
    <ol class="container  d-flex justify-content-around  ">
        {% for meetup in end_soon_meetups %}
        <li class="meetup-item me-2">
            <article>
                <div class="meetup-summary">
                    <div class="meetup-image">
                        <img src="{{meetup.image.url}}" alt="{{meetup.title}}">
                    </div>
                    <div class="meetup-details">
                        <h3>{{meetup.title}}</h3>
                        <address>{{meetup.location.country}}</address>
                    </div>
                </div>
                <div class="meetup-actions">
                    <a href="{{ meetup.get_absolute_url }}" class="btn">More Details</a>
                </div>
            </article>
        </li>
        {% endfor %}
    </ol>
</section>
{% endblock content %}
    