{% extends '_base.html' %}
{% load widget_tweaks %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'meetups/style/form.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css" />
{% endblock css %}

{% block title %}
    Sign Up User
{% endblock title %}

{% block content %}
<form class="form"  method="POST" autocomplete='off'>
    {% csrf_token %}

    <div class="forms-control {% if field.errors %} errors {% endif %}">
        <label>{{ form.username.label_tag }}</label>
        {{ form.username.errors }}
        {% render_field form.username class="form-control" hx-post="/htmx/check_username" hx-swap="innerHTML" hx-trigger="keyup delay:1s" hx-target="#username-error"%}
        <div id="username-error"></div>

        <label>{{ form.email.label_tag}}</label>
        {{ form.email.errors }}
        {% render_field form.email class="form-controls" %}

        <label>{{ form.password1.label_tag }}</label>
        {{ form.password1.errors }}
        {% render_field form.password1 class="form-control" %}

        <label>{{ form.password2.label_tag }}</label>
        {{ form.password2.errors }}
        {% render_field form.password2 class="form-control" %}
    </div>
    
    <button id="meetup_button" class="button-form" type="submit">Register</button>
</form>
<!-- <form   class="form"  method="post"  >
    {% csrf_token %}
    {% for field in form %}
        <div  class="forms-control {% if field.errors %} errors {% endif %}" >
            {{field.label_tag}}
            {{field}}
            {{field.errors}} 
        </div>
    {% endfor %}
    <button id="meetup_button" class="button-form" type="submit">Create Account</button>
</form>
     -->
{% endblock content %}

    