{% extends '_base.html' %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'meetups/style/form.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css" />
{% endblock css %}



{% block title %}
    Update Profile
{% endblock title %}
    


{% block content %}    

<section class="container d-flex justify-content-center align-items-center mt-2">
    <h1>Update Profile</h1>
</section>

<form   class="form"  method="post"  >
    {% csrf_token %}
    {% for field in form %}
        <div  class="forms-control {% if field.errors %} errors {% endif %}" >
            {{field.label_tag}}
            {{field}}
            {{field.errors}} 
        </div>
    {% endfor %}
    <button id="meetup_button" class="button-form" type="submit">Update Profile</button>
    
</form>    
{% endblock content %}