section {
    background-color: rgb(228, 227, 227);
    display: flex;
    margin: 3rem auto;
    
  }
  
  ol {
    
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .meetup-item {
    display: inline-block;
    max-width: 20rem;
    
    margin: 1rem 0;
    background-color: rgb(85, 155, 137);
    padding: 2rem;
    color: white;
    border-radius: 4px;
  }
  
  /* /* .meetup-summary {
    align-items: flex-start;
  } */
   */
  .meetup-image {
    margin-right: 2rem;
  }
  
  .meetup-image img {
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .meetup-details h3 {
    color: inherit;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 2rem;
  }
  
  .meetup-details address {
    font-style: italic;
  }
  
  .meetup-actions {
    margin-top: 1.5rem;
    text-align: right;
  }
  
  .meetup-actions .btn {
    background-color: #30b85d;
    border-color: #1ca874ef;
    color: #0e1b19;
    padding: 0.75rem 2rem;
  }
  
  .meetup-actions .btn:hover {
    background-color: #176f2d;
    border-color: #07020e;
  }

  .header{
    margin-left: 20px;
    color: rgb(113, 108, 108);
  }

  .list_wrapper{
    border: solid black;
  }

  .header_div{
    border: solid black;

  }