.body{
    background-color: rgb(228, 227, 227);
}

.text{
    width: 100%;
    margin-top: 20px;
    text-align: center;
    color: green;
    
}

.success{
    color: green;
    transition: all ease-in 1s;

}

.error{
    color: red;
    transition: all ease-in 1s;

}