{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'style/base.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"  >

        
    {% block css %}
        
    {% endblock css %}
    
    <title>
    {% block title %}
        Document
    {% endblock title %}
    </title>

</head>
<body class="body">

    <nav class="navbar navbar-expand-lg bg-body-tertiary ">
        <div class="container-fluid">
          <a class="navbar-brand text-success" href="{% url 'home' %}">Meetups</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item nav-underline">
                <a class="nav-link" href="{% url 'all-meetups' %}">All Meetups</a>
              </li>
              
              {% if perms.meetups.add_meetup %}
                <li class="nav-item nav-underline">
                  <a class="nav-link" href="{% url 'create-meetup' %}"  >Create Meetup</a>
                </li>
                <li class="nav-item nav-underline">
                  <a class="nav-link" href="{% url 'creator-panel' request.user.id %}">Creator Panel</a>
                </li>
              {% endif %}
              
            </ul>
            <div>
              <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <span class="navbar-text">Logged in as {{user.username}} | </span>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
              </ul>
            </div>
            <form action="{% url 'search' %}" method="GET" class="d-flex" role="search">
                {% csrf_token %}
              <input class="form-control me-2" type="search"  name="q" placeholder="Search Meetups" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
        <div class="text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div class="text">

        {% if error_message %}
            <div class="alert alert-danger" role="alert">
                {{error_message}}
            </div>
        {% endif %}
        
    {% block content %}
        
    {% endblock content %}
    
    <!-- htmx -->
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" ></script>
    
    

    <script src="{% static 'meetups/js/create_meetup.js' %}"></script>
    <script src="{% static 'meetups/js/create_location.js' %}"></script>

    <!-- for delete meetup -->
    <script>
      document.body.addEventListener('htmx:configRequest', function(evt) {
        evt.detail.headers['X-CSRFToken'] = '{{csrf_token}}'; 
    });
    </script>

</body>
</html>